body#WLKS {
    font-family: 'Exo 2', sans-serif;
    background: #000;
    color: #fff;
    margin:0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#WLKS img {
    max-width: 100%;
}

#WLKS .section-first {
    background: url('assets/images/desktop-compressed/starwars_section1_bg.png') top center no-repeat;
    height: 889px;
    position: relative;
    padding-left:495px;
    padding-top:125px;
}

#WLKS .section-first__title {
    margin:0;
    font-size: 60px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

#WLKS .section-first__subtitle {
    font-size: 25px;
    font-weight: 700;
    line-height: 60px;
    margin:0;
    text-align: center;
    text-transform: uppercase;
}

#WLKS .section-first__media {
    text-align: center;
}

#WLKS .product__img {
    display: inline-block;
}

#WLKS .position--absolute {
    position: absolute;
}

#WLKS .product__img--second {
    margin-left:100px;
    margin-bottom: 100px;
}

#WLKS .pl .product__img--second {
    margin-left:100px;
}

@media (max-width: 1700px) {
    #WLKS .pl .product__img--second {
        margin-left:25px;
    }
}


@media (max-width: 1680px) {
    #WLKS .section-first__media {
        margin-top:75px;
    }

    #WLKS .product__img--first {
        width: 550px;
    }

    #WLKS .product__img--second {
        margin-left:100px;
        margin-bottom: 30px;
        height: 280px;
    }

}

@media (max-width: 1390px) {
    #WLKS .section-first__media {
        margin-top:200px;
        text-align: center;
    }

    #WLKS .product__img--first {
        width: 400px;
    }

    #WLKS .product__img--second {
        height: 200px;
    }

}

@media (max-width: 1390px) {
    #WLKS .section-first__title {
        font-size: 50px;
    }

    #WLKS .product__img {
        /*display: block;*/
        margin:0 50px;
    }

    #WLKS .section-first__subtitle {
        line-height: 24px;
        margin-top: 30px;
    }

    #WLKS .section-first__media {
        margin-top:175px;
    }

    #WLKS .product__img--first {
        width: 450px;
    }

    #WLKS .product__img--second {
        height: 200px;
        margin-bottom:50px;
    }

    #WLKS .pl .product__img--second {
        margin-left:auto;
        margin-right:auto;
    }

}

@media (max-width: 1250px) {
    #WLKS .product__img {
        margin:0 15px 0 0;
    }
    #WLKS .product__img--first {
        width: 325px;
    }

    #WLKS .product__img--second {
        height: 170px;
        margin-bottom:30px;
    }
}

#WLKS .subs {
    background: #fff;
    color: #000;
    font-weight: 700;
    padding:15px;
}

#WLKS .on--mobile {
    display: none !important;
}

#WLKS .on--desktop {
    display: block;
}

#WLKS .scroll-down {
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom:50px;
    left:55%;
    transform: translateX(-55%);
}

#WLKS .section-first .left {
    position: absolute;
    top:0;
    left:0;
}

#WLKS .section-first .left img {
    height: 890px;
}

#WLKS .section-second {
    height: auto;
    overflow: hidden;
}

#WLKS .section-second .content {
    display: flex;
    position: relative;

}

#WLKS .line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 13px;
    background: #fff;
    height: 1000px;
    z-index: 10;
    left: 50%;
    transform: skew(5deg);
    transform-origin: center;
}

#WLKS .half-line {
    display: none;
    width: 50%;
    clear: right;
    float: left;
    border:1px solid #fff;
    margin-bottom: 20px;
}

#WLKS .section-second .content .left {
    background: url('assets/images/desktop-compressed/section_2_bg.png') top center no-repeat;
    background-size: cover;
    min-height: 1002px;
    width: 50%;
    float: left;
    padding: 50px 50px 50px 380px;
    position: relative;
}

#WLKS .section-second .content .main__img {
    position: absolute;
    top:50px;
    left: 50px;
    max-width: 100%;
}

#WLKS .section-second .right {
    background: url('assets/images/desktop-compressed/section_2_bg.png') top center no-repeat;
    background-size: cover;
    min-height: 1002px;
    width: 50%;
    float: left;
    padding: 50px 50px 50px 380px;
    position: relative;
}

#WLKS .description {
    line-height: 22px;
    font-size: 17px;
    min-height:300px;
}

#WLKS .description.hu {
    margin-bottom:28px;
}

#WLKS .left .description {
    /*padding-left: 190px;*/
}

#WLKS .right .description {
    /*padding-left: 140px;*/
}

#WLKS .content__title {
    display: block;
    text-align: center;
    width: 100%;
}

#WLKS .content__subtitle {
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    text-transform: uppercase;
}

/*****************/
/**   BUTTONS   **/
/*****************/

#WLKS .wlksn-btn {
    background: transparent;
    border:2px solid #fff;
    color: #fff;
    display: block;
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    font-weight: 400;
    float: right;
    line-height: 18px;
    margin-top: 50px;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 1750px) {
    #WLKS .section-second .content .left {
        min-height: 1px;
        padding: 50px 50px 50px 250px;
    }
    #WLKS .section-second .content .right {
        min-height: 1px;
        padding: 50px 50px 50px 200px;
    }

    #WLKS .section-second .content .main__img {
        position: absolute;
        top: 50px;
        left: 50px;
        max-width: 100%;
        margin-right: 20px;
        float: left;
        height: 380px;
        width:auto;
    }
}

@media (max-width: 1550px) {
    #WLKS .section-second .content .main__img {
        height: 350px;
        width:auto;
    }
}


@media (max-width: 1170px) {
    #WLKS .line {
        height: 100%;
        transform: rotate(0deg);
    }
}

@media (max-width: 991px) {
    #WLKS .section-first {
        background-position-y: 240px;
        background-size: cover;
        border-bottom: 20px solid #fff;
        height: auto;
        padding: 0;
    }
    #WLKS .section-first__media {
        margin-top: 75px;
    }
    #WLKS .section-first .left {
        background: #fff;
        position: relative;
    }
    #WLKS .section-first .left img {
        height: auto;
        width: 100%;
    }

    #WLKS .section-first .right {
        padding:50px 15px 30px;
    }

    #WLKS .section-first__title {
        font-size: 32px;
        margin-bottom: 5px;
    }

    #WLKS .section-first__subtitle {
        font-size: 22px;
        line-height: 24px;
        width: 80%;
        margin:0 auto;
    }

    #WLKS .scroll-down {
        bottom: 30px;
        top:auto;
        left: auto;
        right: 30px;
    }

    #WLKS .product__img {
        display: block;
        max-width: 300px;
        margin:10px auto;
        width: auto;
    }

    #WLKS .product__img--second {
        max-width: 150px;
    }

    #WLKS .on--mobile {
        display: block !important;
    }

    #WLKS .on--desktop {
        display: none;
    }

    #WLKS .line {
        display: none;
    }

    #WLKS .section-second .content {
        flex-direction: column;
    }

    #WLKS .description {
        min-height: 1px;
        margin-bottom: 0;
    }

    #WLKS .left .description {
        /*padding-left: 180px;*/
    }

    #WLKS .section-second .content .left {
        border-bottom: 20px solid #fff;
    }
    #WLKS .section-second .content .left,
    #WLKS .section-second .content .right {
        min-height: 1px;
        padding: 30px 15px;
        width: 100%;
    }

    #WLKS .section-second .content .main__img {
        float: left;
        position: relative;
        left:auto;
        top:auto;
        width: auto;
        padding-left: 20px;
        margin-bottom: 50px;
        margin-right: 30px;
        margin-top:20px;
    }

    #WLKS .wlksn-btn {
        margin-bottom: 20px;
        margin-top: 50px;
        width: 100%;
    }

}

@media (max-width: 500px) {
    #WLKS .section-second .content .main__img {
        width: auto;
        margin: 20px auto;
        display: block;
        padding: 0;
        float: none;
    }

    #WLKS .left .description {
        padding-left: 0;
    }

    #WLKS .content__title {
        text-align: center;
    }

    #WLKS .content__subtitle {
        font-size: 18px;
    }
}